@page "/"
@namespace SimpleBlazorServerApp.Pages
@using SimpleBlazorServerApp.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hello Blazor Server</title>
    <base href="~/" />
</head>
<body>
    <component type="typeof(App9)" render-mode="ServerPrerendered" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>